<!-- IF USER_REAL_EMAIL -->
<dt>&nbsp;</dt>
<dt>{L_EMAIL_ADDRESS}{L_COLON}</dt><dd>({L_ONLY_VISIBLE_FOR_ADMINS})<br />{USER_REAL_EMAIL}</dd>
<!-- ENDIF -->
<!-- IF USER_WEBSITE_RAW -->
<dt>{L_WEBSITE}{L_COLON}</dt>
<dd><a href="{USER_WEBSITE_RAW}" target="_blank" rel="nofollow noopener">{USER_WEBSITE_RAW}</a></dd>
<!-- ENDIF -->
<!-- IF USER_IP -->
<dt>{L_LAST_IP}:</dt>
<dd><a href="{USER_IP_URL}" target="_blank" rel="noopener">{USER_IP}</a></dd>
<!-- ENDIF -->
<!-- IF USER_REAL_EMAIL or USER_WEBSITE_RAW or USER_IP -->
<dt>&nbsp;</dt>
<!-- ENDIF -->